.order {
    width: 700px;
    // border: 3px solid #5c6574;
    border-radius: 25px;
    box-shadow: 0px -1px 9px 4px #d3cfcf;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    opacity: 1;
    background-color: #fff;
     &-none {
         display: none;
     }

    &__title {
        font-size: 36px;
        font-weight: 600;
        color: rgb(52, 118, 148);
    }

    &-card {
        display: flex;

   }
}



.order-card {
    border-bottom: 3px solid #40444B;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;

    &__name {
        font-size: 26px;
    }
    &__date {
        font-size: 26px;
        padding-left: 35%;
    }
    &__city {
        font-size: 26px;
    }
    &__time {
        font-size: 26px;
        padding-left: 62%;
    }
}


.order-room {
    border-bottom: 5px dotted #40444B;
    padding: 15px;
    margin: 15px;
    display: flex;
    justify-content: space-around;

    &__title {
        font-size: 30px;
        color: #347694;
        font-weight: 600;
    }

    &__name {
        &-block {
            max-width:450px
        }
    }
    &__time {
        // padding-left: 60%;

        &-value {
            // padding-left: 32%;
            color: black;
            font-weight: 300;
        }
    }

}

.room-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__input {
        display: flex;
        flex-direction: column;
        
        &-inner {
            display: flex;
            margin: 5px 0;

            & button {
                display: block;
                background: none;
                border: none;
                outline: none;
                color: black;
                font-size: 24px;
            }
        }
    }

    &__inp {
        display: block;
        border: 2px solid #40444B;
        border-radius: 14px;
        height: 40px;
        max-width: 50px;
        max-height: 30px;
        text-align: center;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
          }
    }

    &__price {

    }
    &__val {
        color: #E92E92;
        font-weight: bold;
    }
}


.receipt-block {
    padding: 25px 10px;
    &__price {
        color: #E92E92;
        font-weight: bold;
        padding-left: 490px;
    }

    &__text {
        padding-left: 40px;
    }
}

.pop-up {
    padding: 25px;
    outline: none!important;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    border-radius: 50%;
    border: none;
    color: whitesmoke;
    background-color:  #E92E92;
    position: fixed;
    right: 0%;
    top: 7.4%;
    z-index: 9999;

    &__item {
        position: relative;
        height: 3px;
        width: 25px;
        background-color: #fff;
        display: block;
        right: 25%;
    }

}

.item1 {
    position: absolute;
    top: 54%;
    transform: translateY(-50%) rotate(-45deg);
}

.item2 {
    position: absolute;
    top: 50%;
    transform: translateY(50%) rotate(45deg);
}